name: Sync

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

permissions: {}

concurrency:
  group: sync
  cancel-in-progress: false

jobs:
  sync:
    name: Sync
    runs-on: ubuntu-24.04
    permissions:
      contents: write # push
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: true

      - name: Setup
        uses: ./.github/actions/setup

      - name: Sync updates
        run: ./scripts/sync.sh
        env:
          GH_TOKEN: ${{ github.token }}
